.footer-nav {
  background-color: var(--color-primary-light);
  padding: 2rem 0;
  color: var(--color-primary);
  text-align: center;
}

.footer-link {
  color: var(--color-primary);
  text-decoration: none;
}
