:root {
  --color-primary: #2196f3;
  --color-primary-light: #bbdefb;
  --color-primary-dark: #1976d2;
  --color-accent: #cddc39;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-white: #fff;

  --font-primary: "Lato", sans-serif;
  --font-secondary: "Oswald", sans-serif;

}

html {
  font-family: var(--font-primary);
}
