.cta-section {
  background-color: var(--color-primary-light);
  vertical-align: middle;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.top-section-img {
  max-width: 15rem;
}

.bot-section-img {
  display: none;
}

@media only screen and (min-width: 38em) {

  .top-section-img {
    display: none;
  }

  .bot-section-img {
    display: block;
  }

}
