.home-dog-banner-container {
  align-items: center;
  background-color: var(--color-primary-light);
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.home-section-2 {
  text-align: center;
}

.content {
  margin: auto;
}

.adopt-section-text {
  padding: 0 1rem 0 1rem;
  display: block;
  color: var(--color-primary);
  font-weight: 500;
}

.card-container {
  padding-bottom: 2rem;
}

.adopt-card {

}
@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {
/*
  .adopt-section-text {
    padding: 0 5rem 0 5rem;
  }
*/
}

@media only screen and (min-width: 60em) {



}

@media only screen and (min-width: 90em) {



}
