.home-image-banner-container {
  align-items: center;
  background-color: var(--color-primary-light);
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.home-section-2 {
  text-align: center;
}

.content {
  margin: auto;
}

.adopt-section-text {
  padding: 0 1rem;
  display: block;
  color: var(--color-primary);
  font-weight: 500;
}

.card-container {
  padding-bottom: 2rem;
  left: 0;
  right: 0;
}

.center-nav {
  margin: auto;
  width: 90%;
}

/* .container IS ONLY USED FOR THE CONTAINER THAT CONTAINS THIS ELEMENT WHEN BEING USED AS AN ACTUAL ELEMENT */

.container {
  margin: auto;
  width: 100%;
}

@media only screen and (min-width: 38em) {

  .center-nav {
    margin: auto;
    width: 50%;
  }
}

@media only screen and (min-width: 60em) {

  .center-nav {
    margin: auto;
    width: 40%;
  }

}

@media only screen and (min-width: 90em) {

  .center-nav {
    margin: auto;
    width: 30%;
  }

  .container {
    width: 80%;
  }
}
